# Global owners
* @devincarrick

# Specific file/directory owners
/docs/ @devincarrick
/azure-templates/ @devincarrick
/dashboards/ @devincarrick
/azure-setup/ @devincarrick
/data/ @devincarrick
/screenshots/ @devincarrick

# Configuration files
*.yml @devincarrick
*.yaml @devincarrick
*.json @devincarrick